:root {
  --primary-color: #6424FF;
  --secondary-color: #06F48A;
  --primary-font: Raleway, sans-serif;
  --secondary-font: 'SF Compact Display', sans-serif;
  --primary-font-color: #000;
  --secondary-font-color: #ffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--primary-font);
  font-size: 62.5%;
}

body {
  margin: 0;
}